@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Madimi+One&display=swap');

.timer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);

}

.timer-container #time{
    font-size: 100px;
    font-family: "Angkor", serif;
    margin: 0;
    width: 100%;
    text-align: center;
    text-shadow: 5px 2px 6px #006400;
    gap: 20px;
}

.timer-container .explanation{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.timer-container .explanation p{
    margin: 0;
    font-size: 35px;
}

@media (max-width: 768px){
    .timer-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
    
    }
    
    .timer-container #time{
        font-size: 55px;
        font-family: "Angkor", serif;
        margin: 0;
    }
    
    .timer-container .explanation{
        display: flex;
        width: 90%;
        justify-content: space-between;
    }
    
    .timer-container .explanation p{
        margin: 0;
        font-size: 26px;
    }
}