.que{
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    
}
.ans{
    font-size: 18px;
    margin: 0;
    word-spacing: 2px;


}

.about-container{
    padding: 10px;
    background-size: cover;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.708);
}